/* Styles exclusive to App.jsx */


.app-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
    margin: 50px auto;
}

/* Headings inside App.jsx */
.app-container h1 {
    color: #125391;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Components inside App.jsx */
.app-container > * {
    margin-top: 20px;
}

.app-container hr{
    
        border: none;
        height: 1px;
        background-color: #ccc; /* Light grey line */
        margin: 30px auto;
        width: 80%;
    }
    
    

