/* Styles only apply inside Delete.jsx */


/* Title */
h1 {
    color: #99aabb;
    font-size: 22px;
    margin-bottom: 15px;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Input Field */
input {
    padding: 10px;
    border: 1px solid #0b0909;
    border-radius: 5px;
    font-size: 14px;
    width: 200px;
    display: block;
    margin: auto;
}

/* Delete Button */
button {
    background-color: #333;      /* Dark grey background */
    color: white;                /* White text */
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: auto;
    width: 100px;
    margin-bottom: 50px;
}

button:hover {
    background-color: #000;      /* Black on hover */
}

